<template>
	<div class="AmountPlayers">
		<span class="AmountPlayersLabel">Players</span>
		<Counter @changeAmountPlayers="changeAmountPlayers"/>
	</div>
</template>

<script>
import Counter from './Counter.vue'
	export default {
		name : "AmountPlayers",
		components : {
			Counter
		},
		methods : {
			changeAmountPlayers(players){
				this.$emit("changeAmountPlayers", players)
			}
		}
	}
</script>

<style>
.AmountPlayers{
	display: flex;
	align-items: center;
}
	.AmountPlayersLabel{
		font-size: 14px;
		margin-right: 10px;
		font-weight: 600;
	}
</style>