<template>
	<div class="Banner">
		<img src="../assets/header_banner.png" alt='banner' /> 
	</div>
</template>

<script>
	export default {
		name : "Banner",
	}
</script>

<style>

.Banner{
	display: flex;
	width: 100%;
	align-items: center;
	overflow: hidden;
}
	.Banner img{
		width: 100%;
	}

</style>