<template>
	<div class="BlackScreen"></div>
</template>

<script>
	export default {
		name : "BlackScreen",
	}
</script>

<style>

.BlackScreen{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.7);
	z-index: 1;
}

</style>