<template>
	<button 
		v-bind:class="className"
		v-on:click="onClick"
		v-bind:disabled="disabled">
			<div class="ButtonAnimationLeft">
		    <span>
			  	<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 16 16"
					width="16"
					height="16"
					aria-labelledby="circle"
					role="presentation"
			  	>
			    	<circle id="circle" cx="8" cy="8" r="7.5"></circle>
			  	</svg>
			  	<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 12 12"
					width="12"
					height="12"
					aria-labelledby="arrow"
					role="presentation"
			  	>
			        <path d="M2.7008908,5.37931459 L2.7008908,5.37931459 C2.9224607,5.60207651 3.2826628,5.60304283 3.50542472,5.38147293 C3.52232305,5.36466502 3.53814843,5.34681177 3.55280728,5.32801875 L5.34805194,3.02646954 L5.34805194,10.3480519 C5.34805194,10.7081129 5.63993903,11 6,11 L6,11 C6.36006097,11 6.65194806,10.7081129 6.65194806,10.3480519 L6.65194806,3.02646954 L8.44719272,5.32801875 C8.6404327,5.57575732 8.99791646,5.61993715 9.24565503,5.42669716 C9.26444805,5.41203831 9.28230129,5.39621293 9.2991092,5.37931459 L9.2991092,5.37931459 C9.55605877,5.12098268 9.57132199,4.70855346 9.33416991,4.43193577 L6.75918715,1.42843795 C6.39972025,1.00915046 5.76841509,0.960656296 5.34912761,1.32012319 C5.31030645,1.35340566 5.27409532,1.38961679 5.24081285,1.42843795 L2.66583009,4.43193577 C2.42867801,4.70855346 2.44394123,5.12098268 2.7008908,5.37931459 Z"></path>
			  	</svg>
			  	<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 12 12"
					width="12"
					height="12"
					aria-labelledby="check"
					role="presentation"
			  	>
			  	        <path d="M4.76499011,6.7673683 L8.2641848,3.26100386 C8.61147835,2.91299871 9.15190114,2.91299871 9.49919469,3.26100386 C9.51164115,3.27347582 9.52370806,3.28637357 9.53537662,3.29967699 C9.83511755,3.64141434 9.81891834,4.17816549 9.49919469,4.49854425 L5.18121271,8.82537365 C4.94885368,9.05820878 4.58112654,9.05820878 4.34876751,8.82537365 L2.50080531,6.97362503 C2.48835885,6.96115307 2.47629194,6.94825532 2.46462338,6.93495189 C2.16488245,6.59321455 2.18108166,6.0564634 2.50080531,5.73608464 C2.84809886,5.3880795 3.38852165,5.3880795 3.7358152,5.73608464 L4.76499011,6.7673683 Z"></path>
			  	</svg>
			  	<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 16 16"
					width="16"
					height="16"
					aria-labelledby="default"
					role="presentation"
			  	>
			  	        <circle id="circle" cx="8" cy="8" r="7.5"></circle>
			  	</svg>
		    </span>	
		    </div>
		    <div class="ButtonAnimationRight">
		    <ul>
		        <li>SUBMIT</li>
		        <li>Waiting</li>
		        <li>Higher</li>
		        <li>Lower</li>
		        <li>New Game</li>
		    </ul>	
		    </div>    		
		</button>
</template>

<script>
	export default {
		name : "ButtonAnimation",
		props : {
			disabled : Boolean,
			state : String
		},
      	watch: { 
      		state: function(newVal, oldVal) {
      			this.changeState(newVal)
        	}
      	},
		data(){
			return{
				className : "ButtonAnimation ButtonAnimationDefault"
			}
		},
		methods : {
			changeState(state){
				let element = this.$el
				if(state === "default"){
					element.classList.add("ButtonAnimationDefault")
					element.classList.remove("ButtonAnimationHigher")
					element.classList.remove("ButtonAnimationLower")
					element.classList.remove("ButtonAnimationWin")
					element.classList.remove("ButtonAnimationLoading")
				}else if(state === "loading"){
					element.classList.add("ButtonAnimationLoading")
					element.classList.remove("ButtonAnimationDefault")					
				}else if(state === "higher"){
					element.classList.add("ButtonAnimationHigher")
					element.classList.remove("ButtonAnimationLoading")	
					setTimeout(() => this.changeState('default'), 1300)
				}else if(state === "lower"){
					element.classList.add("ButtonAnimationLower")
					element.classList.remove("ButtonAnimationLoading")
					setTimeout(() => this.changeState('default'), 1300)
				}else if(state === "win"){
					element.classList.add("ButtonAnimationWin")
					element.classList.remove("ButtonAnimationLoading")
				}			
			},
			onClick(event){
				event.preventDefault()
				this.$emit("onClick")
			}
		}
	}

</script>

<style>

.ButtonAnimation{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	border: none;
	border-radius: 3px;
	font-weight: 500;
	color: #fff;
	outline: none;
	box-shadow: 0px 4px 20px rgba(115,200,80, .15);
	transition: transform .2s ease, background .3s ease, box-shadow .2s ease, opacity .2s ease;
}
.ButtonAnimation:hover {
	opacity: .9;
	transform: scale(.99); /* Get's smaller when active */
	box-shadow: 0px 4px 20px rgba(115,200,80, .2);
	cursor: pointer;
}
.ButtonAnimation:active {
	transform: scale(0.98); /* Get's smaller when active */
}

/* BACKGROUNDS */
.ButtonAnimationDefault,
.ButtonAnimationLoading{
	background: #73C850;
}
.ButtonAnimationHigher, 
.ButtonAnimationLower {
  	background: #F44242; 
}
.ButtonAnimationWin {
  	background: #3FDC75;
}

	.ButtonAnimationLeft{
		display: flex;
		flex: 1;
	}
	/* Span contains the SVG */
	.ButtonAnimation span{
		width: 20px;
		height: 20px;
		background: #fff;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
	}
	/* Small background is created so it might get bigger when dispatching loading */
	.ButtonAnimation span:before {
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 50%;
		background: #73C850;
		transform: scale(0); /* It'll scale to 1 when loading */
		transition: transform .3s ease, background .3s ease;
	}	
	/* When loading the circle's background need to be the same color as button's backgruond */
	.ButtonAnimationLoading span {
	  	background: none;
	  	transition: background .1s ease .3s;
	}	
	.ButtonAnimationLoading span:before {
		transform: scale(1);
	}

	.ButtonAnimationWin span {
	  	background: #fff;	
	  	transition: background .1s ease 0s;
	}	
	.ButtonAnimationWin span:before {
		background: #3FDC75;
		transform: scale(0);
	}	
	
		.ButtonAnimation span svg {
		  position: absolute;
		  width: 12px;
		  height: 12px;
		  left: 50%;
		  top: 50%;
		  margin: -6px 0 0 -6px;
		  z-index: 0;
		}
		/* This is the circle */
		.ButtonAnimation span svg:nth-child(1) {
		  width: 20px;
		  height: 20px;
		  top: 0;
		  left: 0;
		  fill: none;
		  margin: 0;
		  stroke: #fff;
		  stroke-width: 1px;
		  stroke-dashoffset: 94.248;
		  stroke-dasharray: 47.124;
		}
		/* This is the ARROW (2) */
		.ButtonAnimation span svg:nth-child(2) {
		  	fill: #F44242;
			transform: translateY(20px);
		  	transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
		/* This is the CHECK (3) */
		.ButtonAnimation span svg:nth-child(3) {
		  	fill: #73C850;
			transform: translateY(40px);
		  	transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s ease;
		}
		/* This is the DEFAULT (4) */
		.ButtonAnimation span svg:nth-child(4) {
		  	fill: #73C850;
		  	transform: scale(.6);
		  	transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}		


			.ButtonAnimationDefault span svg:nth-child(2) {
				fill: green;
			}			
			.ButtonAnimationDefault:hover span svg:nth-child(2) {
				fill: green;
          		transform: translateY(0px) rotate(90deg);
			}				
			.ButtonAnimationDefault:hover span svg:nth-child(4) {
          		transform: translateY(-20px);
			}	
				

			/* HIGHER */
			.ButtonAnimationHigher span svg:nth-child(2) {
          		transform: translateY(0px);
			}		
			.ButtonAnimationHigher span svg:nth-child(3) {
				transform: translateY(20px);
			}		
			.ButtonAnimationHigher span svg:nth-child(4) {
				transform: translateY(-20px);
			}

			/* LOWER */
			.ButtonAnimationLower span svg:nth-child(2) {
          		transform: translateY(0px) rotate(180deg);
			}		
			.ButtonAnimationLower span svg:nth-child(3) {
				transform: translateY(20px);
			}		
			.ButtonAnimationLower span svg:nth-child(4) {
				transform: translateY(-20px);
			}	

			/* LOADING */
			.ButtonAnimationLoading span svg:nth-child(1) {
				animation: turn 1.6s linear infinite forwards, path 1.6s linear infinite forwards;
			}				
			.ButtonAnimationLoading span svg:nth-child(3) {
			  	opacity: 0;
			  	-webkit-transform: translateY(0) scale(0.6);
				transform: translateY(0) scale(0.6);
			}			
			
			/* WIN */
			.ButtonAnimationWin span svg:nth-child(1) {
			    animation: none;
			}	
			.ButtonAnimationWin span svg:nth-child(2) {
          		transform: translateY(-20px);
			}					
			.ButtonAnimationWin span svg:nth-child(3) {
			  fill: #3FDC75;
			  opacity: 1;
			  -webkit-transform: scale(1);
			          transform: scale(1);
			  transition: opacity 0.4s ease 0.25s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
			  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s, opacity 0.4s ease 0.25s;
			  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s, opacity 0.4s ease 0.25s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
			}
			.ButtonAnimationWin span svg:nth-child(4) {
          		transform: translateY(-40px);
			}			


	.ButtonAnimationRight{
		display: flex;
		width: 80px;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	.ButtonAnimation ul {
		display: flex;
		justify-content: center;
		position: relative;
		height: 15px;
		width: 100%;
		list-style: none;
		transform-style: preserve-3d; /* Unless we put preserve-3d, it won't work */
		transition: transform .3s ease;
	}

	/* We generate a carousel and depending the state we rotate it*/
	.ButtonAnimationDefault ul {
		transform: rotateX(0deg);
	}
	.ButtonAnimationLoading ul {
		transform: rotateX(72deg);
	}
	.ButtonAnimationHigher ul {
		transform: rotateX(140deg);
	}
	.ButtonAnimationLower ul {
		transform: rotateX(216deg);
	}
	.ButtonAnimationWin ul {
		transform: rotateX(288deg);
	}

		.ButtonAnimation ul li {
			position: absolute;
			left: 0;
			backface-visibility: hidden; /* When it rotates doesn't show the inverted letters */
			transform-origin: 50% 50%;
			opacity: 0;
			transition: opacity .3s ease;
			width: 100%;
		}
		.ButtonAnimationDefault ul li:nth-child(1) {
			transform: rotateX(0deg) translateZ(14px);
		}
		.ButtonAnimation ul li:nth-child(2) {
			transform: rotateX(-72deg) translateZ(14px);/* Waiting */
		}
		.ButtonAnimation ul li:nth-child(3) {
			transform: rotateX(-128deg) translateZ(14px);/* Higher */
		}
		.ButtonAnimation ul li:nth-child(4) {
			transform: rotateX(-210deg) translateZ(14px);/* Lower */
		}		
		.ButtonAnimation ul li:nth-child(5) {
			transform: rotateX(-288deg) translateZ(14px);/* Win */
		}	
			.ButtonAnimationDefault ul li:nth-child(1),
			.ButtonAnimationLoading ul li:nth-child(2),
			.ButtonAnimationHigher ul li:nth-child(3),
			.ButtonAnimationLower ul li:nth-child(4),
			.ButtonAnimationWin ul li:nth-child(5){
				opacity: 1;
			}				


@keyframes turn {
  100% {
	transform: rotate(360deg);
  }
}
@keyframes path {
  100% {
	stroke-dashoffset: 0;
  }
}



</style>