<template>
		<div class="Celebration">
			<transition name="fade">
				<div class="CelebrationImageContainer">
					<img src='../assets/sale.svg' alt='ribbon' /> 
				</div>
			</transition>				
		  	<div v-bind:class="className"></div>
		  	
		</div>
</template>

<script>
	import Confetti from './confetti.js'

	export default {
		name : "Celebration",
		props : {
			player : Number
		},
		data(){
			return{
				className : "Festive"+this.player
			}
		},
		mounted(){
			let className = "."+this.className
			new Confetti(className, 300, 15)
		}
	}

</script>

<style>
.Celebration{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;

}
	.CelebrationImageContainer{
		width: 100%;
		position: absolute;
		top: -20px;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;

	}
		.Celebration img{
			min-width: 110%;
		}

@media screen and (max-width: 600px){
	.Celebration img{
		min-width: none;
		max-width: 100%;
		height: 60px;
	}
}

</style>