<template>
	<div class="Configuration">
		<AmountPlayers @changeAmountPlayers="changeAmountPlayers"/>
	</div>
</template>

<script>
	import AmountPlayers from './AmountPlayers.vue'
	export default {
		name : "Configuration",
		components : {
			AmountPlayers
		},
		methods : {
			changeAmountPlayers(players){
				this.$emit("changeAmountPlayers", players)
			}
		}		
	}
</script>

<style>

.Configuration{
	display: flex;
	background: #eee;
	border-bottom: 1px solid #eee;
	height: 40px;
	align-items: center;
	padding: 0 20px;
}

</style>