<template>
	<div class="Counter">
		<span class="CounterButton" v-on:click="remove">-</span>
		<span class="CounterNumber">{{ count }}</span>
		<span class="CounterButton" v-on:click="add">+</span>
	</div>
</template>

<script>
	export default {
		name : "Counter",
		components : {
		},
		data(){
			return{
				count : 3
			}
		},
		methods : {
			add(){
				let newNumber = this.count + 1
				this.$emit("changeAmountPlayers", newNumber)
				this.count = newNumber
			},
			remove(){
				let prevCount = this.count
				if(prevCount === 2){
					return
				}
				let newNumber = this.count - 1

				this.$emit("changeAmountPlayers", newNumber)
				this.count = newNumber
			}
		}
	}
</script>

<style>

.Counter{
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	overflow: hidden;
}
	.CounterButton{
		background: #73C850;
		width: 22px;
		height: 22px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		user-select:none;
	}
	.CounterButton:hover{
		opacity: .8;
		cursor: pointer;
	}

	.CounterNumber{
		height: 22px;
		padding: 0 10px;
		display: flex;
		justify-content: center;
		align-items: center;	
		font-size: 14px;	
		background: #fff;
		user-select:none;
	}

</style>