<template>
	<p class='Description' v-if="thereIsWinner === false" >{{ defaultText }}</p>
	<p class='Description' v-else>{{ winnerText }}</p>

</template>

<script>
	export default {
		name : "Description",
		props : {
			defaultText : String,
			winnerText : String,
			winner : Number,
			player : Number
		},
		data(){
			return{
				thereIsWinner : false
			}
		},
      	watch: { 
      		winner: function(newVal, oldVal) {
      			if(newVal === this.player){
      				this.thereIsWinner = true
      			}else{
      				this.thereIsWinner = false
      			}
        	}
      	},
	}
</script>

<style>
.Description{
	text-align: center;
	color: #aaa;
	width: 160px;
	font-size: 14px;
}
</style>