<template>
	<div class="ErrorMessageContainer">
		<div v-bind:class="classMessage"></div>
	</div>
</template>

<script>
	export default {
		name : "ErrorMessage",
		props : {
			player : Number
		},
  		data(){
  			let classMessage = "ErrorMessage ErrorMessage"+this.player
    		return {
      			classMessage
    		}
  		}
	}
</script>

<style>

.ErrorMessageContainer{
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
}
	.ErrorMessage{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		padding: 0 20px;
		background: #F44242;
		color: rgba(255,255,255,.9);
		font-size: 12px;
		border-radius: 5px 5px 0 0;
		transform: translateY(40px);
		transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	.ErrorMessage.active{
		transform: translateY(0);
	}

</style>