<template>
	<div class="Game">
		<Banner />
		<Space v-bind:height="40" /> 
		<Players v-bind:players="players"/>
	</div>
</template>

<script>
	import Banner from './Banner.vue'
	import Space from './Space.vue'
	import Players from './Players.vue'

	export default {
		name : "Game",
		components : {
			Banner,
			Space,
			Players
		},
		props : {
			players : Number
		}
	}
</script>

<style>

.Game{
	display: flex;
	padding: 20px;
	flex-direction: column;
}
@media screen and (max-width: 600px){
  .Game{
    padding: 5px
  }
}
</style>