<template>
	<div class="GameOver"></div>
</template>

<script>

export default {
	name : "GameOver"
}
</script>

<style>

.GameOver{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 20px;
	display: flex;
	background: rgba(255,255,255,.8);
}

</style>