<template>
	<div class="Input">
		<label v-bind:for="id">Number</label>
		<input 
			v-bind:id="id"
			v-bind:type="type" 
			v-on:keyup.enter="handleEnter"
			v-model="value"
			@input="handleChange"/>
	</div>
</template>

<script>

	export default {
		name : "Input",
  		data(){
  			let id = "InputNumber"+this.player
    		return {
      			value: "",
      			id
    		}
  		},
  		props : {
  			type : String,
  			shouldResetInput : Object,
  			player : Number
  		},
  		methods : {
  			handleChange({ type, target }){
  				this.$emit("onChange", target.value)
  			},
  			handleEnter(){
  				this.$emit("onEnterPress")
  			}
  		},
  		watch:{
  			shouldResetInput(newValue){
  				if(newValue.bool){
  					this.value = ""
  				}
  			}
  		}	
	}
</script>

<style>
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.Input{
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
	.Input input{
		width: 80px;
		border: none;
		border-bottom: 2px dashed #014B77;
		outline: none;
		text-align: center;
		font-size: 30px;
		color: #014B77;
	}
	.Input input:hover{

	}
	.Input input::placeholder{
		color: #888;
	}
	.Input label{
		display: none;
	}

</style>