<template>
	<form 
		v-bind:class="className">
		<ErrorMessage 
			v-bind:player="player"/>

		<div v-if="winner !== 0">
			<div v-if="winner === player"><Celebration v-bind:player="player"/></div>
			<div v-else><GameOver /></div>
		</div>
		<Space v-bind:height="20" />
		<Description 
			defaultText="Enter a number between 0 and 100"
			winnerText="You have guessed the right number"
			v-bind:winner="winner"
			v-bind:player="player"
		/>
		<Space v-bind:height="20" />
		<Input 
			type="number" 
			v-bind:shouldResetInput="shouldResetInput"
			v-bind:player="player"
			@onEnterPress="onSubmit"
			@onChange="handleChange"
			/>
		<Space v-bind:height="20" />
		<ButtonAnimation 
			@onClick="onSubmit"
			v-bind:state="buttonState"
		/>
	</form>
</template>

<script>
	import ErrorMessage from './ErrorMessage.vue'
	import Space from './Space.vue'
	import Description from './Description.vue'
	import Input from './Input.vue'
	import ButtonAnimation from './ButtonAnimation.vue'
	import GameOver from './GameOver.vue'
	import Celebration from './Celebration.vue'

	export default {
		name : "Player",
		components : {
			ErrorMessage,
			Space,
			Description,
			Input,
			ButtonAnimation,
			GameOver,
			Celebration
		},
  		data(){
  			let playerClass = "Player"+this.player
    		return {
      			number: "",
      			className : "Player " + playerClass,
      			shouldResetInput : {}
    		}
  		},		
		props : {
			winner : Number,
			player : Number,
			message : Object,
			buttonState : String,
			shouldBlockButtons : Boolean,
			resetAllInputs : Object
		},	
      	watch: { 
      		winner: function(newWinner) {
      			if(newWinner === this.player){
      				this.elevatePlayer(newWinner)
      			}
        	},
      		message : function(newValue){
      			if(newValue){
      				if(newValue.message !== "Bingo!!"){
      					this.resetInput()
    	  			}
    	  			this.resetNumber()
    	  		}
      		},
      		resetAllInputs : function(newValue){
      			this.resetNumber()
      			this.resetInput()
      		}
      	},
		methods : {
			handleChange(value){
				this.number = value
			},
			onSubmit(){
				this.$emit("onClick", this.player, this.number)
			},
			resetNumber(){
				this.number = ""
			},
			elevatePlayer(player){
      			let element = this.$el
      			let winnerClassName = "Player" + player
      			if( element.classList.contains(winnerClassName) )
      				element.classList.add("PlayerElevation")
			},
			resetInput(){
				this.shouldResetInput = { bool : true, receivedAt : Date.now() }				
			}
		}
	}
</script>

<style>


.Player{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;	
	flex: 1 0;
	flex-basis: 30%;
	min-height:200px;
	max-width: calc(33.33333% - 10px);
	background: white;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 20px;	
	border: 1px solid #eee;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.1);
	transition: all ease .2s;
}
	.PlayerElevation{
		z-index: 4;
	}

@media (max-width: 600px) {
  .Player{
    max-width: calc(100% - 10px);
    margin-bottom: 50px !important;
  }
}

.PlayerShake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) ;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 600px){
	.Player{
		margin-right: 0px;
		margin-bottom: 20px;
	}
}

</style>