<template>
	<div class="Players">
		<div v-if="showBlackScreen == true">
			<BlackScreen />
		</div>

		<template v-for="i in players">
			<transition name="fade">
				<Player 
					v-if="true"
					v-bind:key="i"
					v-bind:player="i"
					@onClick="onSubmit"
					v-bind:shouldBlockButtons="shouldBlockButtons"
					v-bind:message="messages[i]"
					v-bind:winner="winner"
					v-bind:buttonState="buttonState[i]"
					v-bind:resetAllInputs="resetAllInputs"
					/>		
			</transition>		
		</template>
		
	</div>
</template>

<script>
	import Player from './Player.vue'
	import BlackScreen from './BlackScreen.vue'
	export default {
		name : "Players",
		components : {
			Player,
			BlackScreen
		},
		data(){
			return {
				winner : 0,
				isPlayerFetching : {},
				shouldBlockButtons : false,
				showBlackScreen : false,
				buttonState : {},
				resetAllInputs : {},
				messages : {},
			}
		},
		props : {
			players : Number
		},
		methods : {
			onSubmit(player, number){
				this.removeErrorMessage(player)

				// If someone won, next onSubmit is for reseting the game
				if(this.winner){
					this.removeElevationPlayers()
					this.removeAllErrorMessages()
					this.resetGame(player)
					this.resetAllInputs = { bool : true, receivedAt : Date.now() }
					return
				}

				if(number === ""){
					this.showError("Enter a number", player)
					this.shakePlayer(player)
					return
				}
				if(number < 0 || number > 100){
					this.showError("Not a valid number", player)
					this.shakePlayer(player)
					return
				}

				if(this.isPlayerFetching[player]){
					return
				}

				//Start async request
				this.isPlayerFetching[player] = true				
				this.fetch(player, number)
			},
			async fetch(player, number) {
				this.changeButtonState(player, "loading")

				/* Faking an sync request */
				setTimeout(() => {
					const host = 'http://localhost:5000'
					const endpoint = `/guess?number=${number}&player=${player}`
					this.fetchAPI(host + endpoint, "GET")
						.then(data => {
							let message = data.guess  
							let receivedAt = Date.now()

							if(message === "Bingo!!"){ 
								this.changeButtonState(player, "win")
								this.showBlackScreen = true	
								this.winner = player		
								this.shouldBlockButtons = true	
							}else{
								this.shakePlayer(player)
								if(message == "lower"){
									this.changeButtonState(player, "lower")
								}else if(message == "higher"){
									this.changeButtonState(player, "higher")
								}
							} 	
							this.isPlayerFetching[player] = false			
							this.messages = { 
								...this.messages, 
								[player] : {
									message,
									receivedAt
								}
							}									
						})
						.catch(message => {
							this.showError(message, player)
							this.shakePlayer(player)
							this.changeButtonState(player, "default")
							this.isPlayerFetching[player] = false			
						})	
				}, 800)
				
			},
			async resetGame(player){	
				const host = 'http://localhost:5000'
				const endpoint = '/resetGame'
				const method = "POST"

				this.fetchAPI(host + endpoint, method)
					.then(() => {
						this.changeButtonState(this.winner, "default")
						this.winner = 0,
						this.messages = {},
						this.shouldBlockButtons = false,
						this.showBlackScreen = false,
						this.isPlayerFetching = {}	
						this.resetAllInputs = { bool : true, receivedAt : Date.now() }					
					})
					.catch(message => {
						this.showBlackScreen = false,
						this.showError("There was an error when trying to reset the game", this.winner)
						throw message
					})													
			},				
			fetchAPI(url, method){
				return new Promise((resolve, reject) => {
					fetch(url, { method })
						.then(response => {
							if(response.ok)
								if(response.status === 204)
									resolve(true)
								else 
									resolve(response.json())
							else
								throw response.statusText
						})
						.catch(error => {
							let message = error == "TypeError: Failed to fetch" ? "Failed to connect to server" : error			
							reject(message)
						})						
				})
			},		
			shakePlayer(player){
				let className = "Player"+player
				let classNameWithDot = "."+className
				let element = document.querySelector(classNameWithDot);

				if(element.classList.contains(className)){
					element.classList.add('PlayerShake');
					setTimeout(() => element.classList.remove('PlayerShake'), 1000)
				}	
			},
			showError(message, player){
				let playerClass = ".ErrorMessage"+player
				let element = document.querySelector(playerClass)
				element.classList.add("active")
				element.innerHTML = message
			},
			changeButtonState(player, state){
				this.buttonState = { ...this.buttonState, [player] : state }
			},			
			removeErrorMessage(player){
				let playerClass = ".ErrorMessage"+player
				let element = document.querySelector(playerClass)
				element.classList.remove("active")
			},
			removeAllErrorMessages(){
				let errorMessages = document.querySelectorAll(".ErrorMessage")
				for (let i = 0; i < errorMessages.length; i++ ) {  
					errorMessages[i].classList.remove("active")
				}
			},		
			removeElevationPlayers(){
				let elements = document.querySelectorAll(".Player")
				for (let i = 0; i < elements.length; i++ ) {  
				   	elements[i].classList.remove("PlayerElevation")
				}				
			}	
		}
	}
</script>

<style>

.Players{
	display: flex;	
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: 10px;
}

@media screen and (max-width: 600px){
	.Players{
		flex-direction: column;
	}
}
</style>