<template>
	<div class="Space" :style="style">
	</div>
</template>

<script>

export default {
	name : "Space",
	components : {

	},
	props : {
		height : Number
	},
    computed: {
      style : function () {
        return 'height: ' + this.height + 'px';
      }
    },	
}
</script>

<style>

.Space{
	display: flex;
	width: 100%;
}

</style>