<template>
	<div class="WrapperGame">
		<Configuration v-bind:players="players" @changeAmountPlayers="changeAmountPlayers"/>
		<Game v-bind:players="players"/>
	</div>
</template>

<script>
	import Configuration from './Configuration.vue'
	import Game from './Game.vue'
	
	export default {
		name : "WrapperGame",
		methods : {
			changeAmountPlayers(players){
				this.players = players
			}
		},		
		data(){
			return{
				players : 3
			}
		},
		components : {
			Configuration,
			Game
		}
	}
</script>

<style>

.WrapperGame{
	display: flex;
	flex-direction: column;
	width: 900px;
	background: #FFFFFF;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 2px 2px 20px rgba(0,0,0,.05);
}

</style>