<template>
  <div id="app">
    <WrapperGame />
  </div>
</template>

<script>
  import WrapperGame from './components/WrapperGame.vue'
  export default {
    name: 'app',
    components: {
      WrapperGame
    }
  }
</script>

<style>
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
}
body{
  font-family: arial;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #333;
  background: #E7E8F1;
}

#app {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
@media screen and (max-width: 600px){
  #app{
    padding: 5px
  }
}

/* ANIMATION FADE */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to{
  opacity: 0;
}
</style>
